/* Typefaces for 'Fraunces' and 'Manrope' provided from Front End Mentor 
TrueType font faces with support for various weights and sizes */

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("Truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("Truetype");
}

:root {
  /* Colors provided from Figma design file */

  --green: #44ffa1;
  --purple-900: #24053e;
  --purple-500: #584d62;
  --purple-100: #fcf8ff;
  --white: #ffffff;
}

/* Classes for Text Presets. Including varying font families, weights, and line heights. These 
will be applied to elements as util classes. */

/* Using rem sizing for fonts assuming a 1:16 ratio (rem:px). This is done out of preference */

.text-preset-1 {
  /* Fraunces 144 Semi Bold at 80px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 600;
  font-size: 5rem;
  line-height: 100%;
}

.text-preset-2 {
  /* Fraunces 144 Semi Bold at 56px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 120%;
}

.text-preset-3 {
  /* Fraunces 144 Semi Bold at 32px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
}

.text-preset-4 {
  /* Manrope Regular at 18px */
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 180%;
}

.text-preset-4 {
  /* Manrope Bold at 18px */
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 150%;
}

/* Styling for different components, sections */
.list-keynotes {
  /* Styling for the section providing keynote information on the product. Custom list styling. */
  /* Placeholder CSS class */
}

.consulation {
  /* Styling for the section allowing users to book a consultation with Louis Graham. */
  /* Placeholder CSS class */
}

/* Utility Classes */

/* Media queries for responsive layouts. This challenge is designed with a mobile-first approach in 
mind with styling changes applied to specific component changes */

/* Component changes for Tablet (768px) layout */
@media (min-width: 768px) {
  /* Placeholder Media Query */
}

/* Component changes for Desktop (1440px) layout. Setting the min-width to 1440px for better
transitioning from tablet layout */
@media (min-width: 1080px) {
  /* Placeholder Media Query */
}
