/* Typefaces for 'Fraunces' and 'Manrope' provided from Front End Mentor 
TrueType font faces with support for various weights and sizes */

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("Truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("Truetype");
}

/* Universal reset to remove all built in margins/padding. Will manually implement for each element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors provided from Figma design file */

  --green: #44ffa1;
  --purple-900: #24053e;
  --purple-500: #584d62;
  --purple-100: #fcf8ff;
  --white: #ffffff;
}

/* Classes for Text Presets. Including varying font families, weights, and line heights. These 
will be applied to elements as util classes. */

/* Using rem sizing for fonts assuming a 1:16 ratio (rem:px). This is done out of preference */

.text-preset-1 {
  /* Fraunces 144 Semi Bold at 48px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 100%;
  color: var(--white);
}

.text-preset-2 {
  /* Fraunces 144 Semi Bold at 56px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
}

.text-preset-3 {
  /* Fraunces 144 Semi Bold at 24px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
}

.text-preset-4 {
  /* Manrope Regular at 18px */
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 180%;
}

.text-preset-5 {
  /* Manrope Bold at 18px */
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 150%;

  color: var(--white);
}

.button-preset {
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 180%;

  width: fit-content;
}

/* Styling for different components, sections */

body {
  margin: 0;
  color: var(--purple-900); /* Default text color */
}

/* Element styling rules (non-sections) */

a {
  text-decoration: none;
}

button {
  background-color: var(--green);
  border: none;
  padding: 12px 32px;
}

/* Styling for Navigation and Hero sections. These elements are contained in <header>
The SVG ornamental divider is included in this section with absolute positioning  */

header {
  background-color: var(--purple-900);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin-bottom: -104px; */
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%; /* Necessary for space-between */
  padding: 20px;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 56px 0px 144px;
  gap: 40px;
}

.hero-illustration {
  position: absolute;
  bottom: -7rem;
  left: 50%;

  width: 100%;
  max-width: 20rem;
  max-height: 11.5rem;

  padding: 0 20px;
  z-index: 1;
  transform: translateX(-50%);
}

.divider-container {
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: fit-content;
}

.ornamental-divider {
  display: block;
  fill: white;
  width: 100%;
}

/* Styling for the keynotes section, which includes the top features of the service 
This is the start of <main>, containing the primary elements of the document */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 64px 20px 0;

  text-align: center;
}

.keynotes-section {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20;
}

.list-keynote-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}

.list-keynote-content {
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 32px;
}

.list-keynote-marker {
  font-family: "Fraunces", "Times New Roman", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;

  display: flex;
  justify-content: center;

  /* TODO: Change this to use a non-hardcoded layout */
  width: 48px;
  height: 48px;

  align-items: center;

  border: 1px solid var(--purple-500);
  border-radius: 50%;
}

.list-keynotes {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
}

/* The consultation section is a CTA allowing users to book a consultation with Louis Graham */

.cta-consulation {
  position: relative;
  padding-top: 112px;
  padding-left: 20px;
  padding-right: 20px;
}

.cta-consultation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 32px;
  background-color: var(--purple-900);
  color: var(--white);

  z-index: 1;
}

.headshot-container {
  /* Unlike the Hero section, it is more ideal to use negative margins to position the headshot
    position. This allows you to use the negative gap present in the design file for accuracy. */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-bottom: -48px;
}

.founder-img {
  width: 240px;
  height: 240px;
  z-index: -1;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 56px;
}

/* Utility Classes */
.underline {
  /* Styling for the underline element found under 'Apply for Access', 
  'tailored' in the Hero text */
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-color: var(--green);
}

/* Media queries for responsive layouts. This challenge is designed with a mobile-first approach in 
mind with styling changes applied to specific component changes */

/* Component changes for Tablet (768px) layout */
@media (min-width: 768px) {
  /* Placeholder Media Query */
}

/* Component changes for Desktop (1440px) layout. Setting the min-width to 1440px for better
transitioning from tablet layout */
@media (min-width: 1080px) {
  /* Placeholder Media Query */
}
