/* Classes for Text Presets. Including varying font families, weights, and line heights. These 
will be applied to elements as util classes. */

.text-preset-1 {
  /* Fraunces 144 Semi Bold at 48px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 100%;
  color: var(--white);
}

.text-preset-2 {
  /* Fraunces 144 Semi Bold at 56px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
}

.text-preset-3 {
  /* Fraunces 144 Semi Bold at 24px */
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
}

.text-preset-4 {
  /* Manrope Regular at 18px */
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;
}

.text-preset-5 {
  /* Manrope Bold at 18px */
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;

  color: var(--white);
}

/* TODO: Is this preset even used? */
.button-preset {
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 180%;

  width: fit-content;
}

@media (min-width: 768px) {
  .text-preset-1 {
    font-size: 3.75rem;
  }
  .text-preset-2 {
    font-size: 3rem;
  }
  .text-preset-3 {
    font-size: 1.75rem;
  }
  .text-preset-4 {
    font-size: 1rem;
  }
  .button-preset {
    font-size: 1.125rem;
  }
}

@media (min-width: 1080px) {
  .text-preset-1 {
    font-size: 5rem;
  }
  .text-preset-2 {
    font-size: 3.5rem;
  }
  .text-preset-3 {
    font-size: 2rem;
  }
  .text-preset-4 {
    font-size: 1.125rem;
  }
  .text-preset-5 {
    font-size: 1.125rem;
  }
}
