@import url("/styles/fonts.css"); /* Font faces */
@import url("/styles/presets.css"); /* Storing text and element presets */
@import url("/styles/utilties.css"); /* Utility classes */

/* Universal reset to remove all built in margins/padding. Will manually implement for each element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors provided from Figma design file */

  --green: #44ffa1;
  --purple-900: #24053e;
  --purple-500: #584d62;
  --purple-100: #fcf8ff;
  --white: #ffffff;
}

/* Styling for different components, sections */

body {
  position: relative;

  margin: 0;
  color: var(--purple-900); /* Default text color */
  box-sizing: border-box;

  overflow-x: hidden;
}

/* Element styling rules (non-sections) */

a {
  text-decoration: none;
}

button {
  box-sizing: content-box;

  width: fit-content;
  height: fit-content;

  background-color: var(--green);
  color: var(--purple-900);
  border: none;
  padding: 12px 32px;

  transition: background-color 0.5s ease, color 0.5s ease, outline 0.5s ease;
}

button:hover {
  background-color: transparent;
  color: var(--green);
  outline: 2px solid var(--green);
}

/* Styling for Navigation and Hero sections. These elements are contained in <header>
The SVG ornamental divider is included in this section with absolute positioning  */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--purple-900);

  .bg-pattern-1,
  .bg-pattern-2 {
    position: absolute;
    display: none;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%; /* Necessary for space-between */
    padding: 20px;
  }

  .hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 56px 0px 168px; /* Default padding-bottom + 24px for ornamental */
    gap: 40px;
  }

  .illustration-container {
    padding: 0 20px;
    width: fit-content;
    height: fit-content;

    .hero-illustration {
      position: absolute;
      bottom: -4rem;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);

      width: 100%;
      max-width: 23.5rem;
      max-height: 11.5rem;
      padding: 0 20px;
    }
  }
}

.divider-container {
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: fit-content;

  .ornamental-divider {
    display: block;
    width: 100%;
    z-index: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  text-align: center;

  /* Styling for the keynotes section, which includes the top features of the service 
This is the start of <main>, containing the primary elements of the document */
  .keynotes-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20;

    .list-keynotes {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 128px 20px 64px;

      background-color: var(--purple-100);
    }

    .list-keynote-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 24px;

      .list-keynote-marker {
        display: flex;
        justify-content: center;
        align-items: center;

        /* TODO: Change this from a hardcoded layout */
        min-width: 48px;
        min-height: 48px;
        border: 1px solid var(--purple-500);
        border-radius: 50%;

        font-family: "Fraunces", "Times New Roman", sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
      }

      .list-keynote-content {
        display: flex;
        flex-direction: column;

        text-align: center;
        gap: 16px;
      }
    }
  }

  /* The consultation section is a CTA allowing users to book a consultation with Louis Graham */
  .cta-consulation {
    padding: 112px 20px 0px;
    background-color: var(--white);

    .cta-consultation-container {
      .headshot-container {
        /* Unlike the Hero section, it is more ideal to use negative margins to position the headshot
    position. This allows you to use the negative gap present in the design file for accuracy. */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin-bottom: -48px;

        .founder-img {
          z-index: 0;

          width: 240px;
          height: 240px;
        }
      }

      .cta-consultation-content {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        padding: 32px;
        background-color: var(--purple-900);
        color: var(--white);
      }
    }
  }
}

.bg-pattern-3 {
  position: absolute;
  display: none;
}

/* Contains social icons and external contact details  */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 56px;

  .footer-icons {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }
}

/* Media queries for responsive layouts. This challenge is designed with a mobile-first approach in 
mind with styling changes applied to specific component changes */

/* Component changes for Tablet (768px) layout */
@media (min-width: 768px) {
  /* Displaying the decorative elements in the Hero section */
  header .bg-pattern-1,
  header .bg-pattern-2,
  .bg-pattern-3 {
    display: inline;
  }

  /* Layout changes */
  header .illustration-container {
    .hero-illustration {
      max-width: 38rem;
      max-height: 18.5rem;
      bottom: -8rem;
      padding: 0 44px;
    }
  }

  header .nav-container {
    padding: 32px 44px 0px;
  }

  header {
    overflow-x: clip;

    .bg-pattern-1 {
      top: 15%;
      left: -28%;
    }

    .bg-pattern-2 {
      top: 50%;
      right: -12%;
    }

    .hero-body {
      padding: 56px 44px 200px; /* Default padding-bottom + 24px for divider */
      max-width: 560px;
      /* max-width: 480px; */
    }
  }

  main .keynotes-section .list-keynotes {
    padding: 184px 44px 64px;

    .list-keynote-item {
      flex-direction: row;
      gap: 56px;
    }

    .list-keynote-marker {
      min-width: 48px;
    }

    .list-keynote-content {
      align-items: start;
      text-align: left;
    }
  }

  main .cta-consulation {
    position: relative;
    padding: 112px 44px 0;
    .cta-consultation-container {
      position: relative;

      height: 558px;
      width: 680px;
      max-height: 558px;
      max-width: 680px;

      .headshot-container {
        position: relative;
        float: left;
        width: fit-content;

        .founder-img {
          width: 280px;
          height: 100%;
        }
      }

      .cta-consultation-content {
        position: absolute;
        right: 0;
        bottom: 0;

        padding: 48px;

        flex-wrap: wrap;
        align-items: start;
        text-align: left;
        align-content: flex-start;

        /* height: 390px; */
        width: 504px;
        max-width: 504px;
      }
    }

    .bg-pattern-3 {
      position: absolute;
      right: 50px;
      bottom: -110px;
      z-index: 2;
    }
  }

  /* Component Changes */
}

/* Component changes for Desktop (1440px) layout. Setting the min-width to 1440px for better
transitioning from tablet layout */
@media (min-width: 1080px) {
  /* Placeholder Media Query */
}
