@import url("/styles/fonts.css"); /* Font faces */
@import url("/styles/presets.css"); /* Storing text and element presets */

/* Universal reset to remove all built in margins/padding. Will manually implement for each element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors provided from Figma design file */

  --green: #44ffa1;
  --purple-900: #24053e;
  --purple-500: #584d62;
  --purple-100: #fcf8ff;
  --white: #ffffff;
}

/* Styling for different components, sections */

body {
  margin: 0;
  color: var(--purple-900); /* Default text color */
  box-sizing: border-box;
}

/* Element styling rules (non-sections) */

a {
  text-decoration: none;
}

button {
  background-color: var(--green);
  border: none;
  padding: 12px 32px;
}

/* Styling for Navigation and Hero sections. These elements are contained in <header>
The SVG ornamental divider is included in this section with absolute positioning  */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--purple-900);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%; /* Necessary for space-between */
  padding: 20px;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 56px 0px 144px;
  gap: 40px;
}

.hero-illustration {
  position: absolute;
  bottom: -4rem;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  width: 100%;
  max-width: 20rem;
  max-height: 11.5rem;
  padding: 0 20px;
}

.divider-container {
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: fit-content;
}

.ornamental-divider {
  display: block;
  width: 100%;
  z-index: 1;

  fill: var(--purple-100);
}

/* Styling for the keynotes section, which includes the top features of the service 
This is the start of <main>, containing the primary elements of the document */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--purple-100);
  text-align: center;

  .keynotes-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20;

    .list-keynotes {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 128px 20px 64px;
    }

    .list-keynote-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 24px;

      .list-keynote-marker {
        display: flex;
        justify-content: center;
        align-items: center;

        /* TODO: Change this from a hardcoded layout */
        min-width: 48px;
        min-height: 48px;
        border: 1px solid var(--purple-500);
        border-radius: 50%;

        font-family: "Fraunces", "Times New Roman", sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
      }

      .list-keynote-content {
        display: flex;
        flex-direction: column;

        text-align: center;
        gap: 16px;
      }
    }
  }
}

/* The consultation section is a CTA allowing users to book a consultation with Louis Graham */

.cta-consulation {
  position: relative;

  width: 100%;
  padding: 112px 20px 0px;
  background-color: var(--white);

  .headshot-container {
    /* Unlike the Hero section, it is more ideal to use negative margins to position the headshot
    position. This allows you to use the negative gap present in the design file for accuracy. */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: -48px;

    .founder-img {
      z-index: 0;

      width: 240px;
      height: 240px;
    }
  }

  .cta-consultation-content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px;
    background-color: var(--purple-900);
    color: var(--white);
  }
}

/* Contains social icons and external contact details  */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 56px;

  .footer-icons {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }
}

/* Utility Classes */

.underline {
  /* Styling for the underline element found under 'Apply for Access', 
  'tailored' in the Hero text */
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-color: var(--green);
}

.divider-white {
  fill: var(--white);
}

.divider-purple-100 {
  fill: var(--purple-100);
}

/* Media queries for responsive layouts. This challenge is designed with a mobile-first approach in 
mind with styling changes applied to specific component changes */

/* Component changes for Tablet (768px) layout */
@media (min-width: 768px) {
  /* Updating font sizes */
  .text-preset-1 {
    font-size: 5rem;
  }
  .text-preset-2 {
    font-size: 2.5rem;
  }
  .text-preset-3 {
    font-size: 2rem;
  }

  /* Layout changes */
  main .keynotes-section .list-keynotes {
    padding: 128px 44px 64px;

    .list-keynote-item {
      flex-direction: row;
      gap: 56px;
    }

    .list-keynote-marker {
      min-width: 48px;
    }

    .list-keynote-content {
      align-items: start;
      text-align: left;
    }
  }

  /* Component Changes */
}

/* Component changes for Desktop (1440px) layout. Setting the min-width to 1440px for better
transitioning from tablet layout */
@media (min-width: 1080px) {
  /* Placeholder Media Query */
}
